@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;

    font-size: 1.6rem;
    color: var(--font-color);

    background-color: var(--bg-color);
}

:root {
    --header-bg-color: #0b111b;
    --bg-color: #112038;
    --btn-color: #121925;
    --hover-btn-color: #000511;
    --font-color: #ccd6dd;

    --header-height: 16vh;
    --main-padding: 5rem;
}

/* Header */

header {
    width: 100%;
    height: var(--header-height);
    padding: 1rem var(--main-padding);

    background-color: var(--header-bg-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title {
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

header img {
    width: 5rem;
    height: 5rem;
    padding: .5rem;

    border-radius: 50%;
    transition: all .2s ease-in;
}
header img:hover {
    background-color: var(--hover-btn-color);
}

/* main */

main {
    height: calc(100% - var(--header-height));
    padding: var(--main-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.dinamic-text {
    text-align: center;
}

.scoreboard {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.result {
    font-size: 2rem;
}

.hands {
    font-weight: 700;

    display: flex;
    gap: 10rem;
}

.player-side,
.cpu-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cpu-side img {
    transform: scaleX(-1);
}

.options {
    display: flex;
    gap: 2rem;
}

.option,
.play-again {
    background-color: var(--btn-color);
    border: none;
    border-radius: 2rem;
    transition: all .2s ease-in;
}
.option:hover,
.play-again:hover {
    background-color: var(--hover-btn-color);
}
.option img {
    width: 100%;
}

.play-again {
    padding: .5rem 1.5rem;

    font-size: 2rem;
    color: var(--font-color);
    display: none;
}