@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;

    font-size: 1.6rem;
    color: var(--font-color);

    background-color: var(--bg-color);
}

:root {
    --bg-color: #222831;
    --header-bg-color: #111720;
    --section-bg-color: #393e46;
    --btn-color: #393e46;
    --hover-btn-color: #5a616b;
    --font-color: #ccd6dd;

    --header-height: 16vh;
    --main-padding: 5rem;
}

/* Header */

header {
    width: 100%;
    height: var(--header-height);
    padding: 1rem var(--main-padding);

    background-color: var(--header-bg-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title {
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

header img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 1rem;
}

/* main */

main {
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: var(--main-padding);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.dinamic-text {
    text-align: center;
}

.scoreboard {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.result {
    font-size: 2rem;
}

.hands {
    font-weight: 700;

    display: flex;
    gap: 10rem;
}

.player-side,
.cpu-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cpu-side img {
    transform: scaleX(-1);
}

.options {
    display: flex;
    gap: 2rem;
}

.option,
.play-again {
    background-color: var(--btn-color);
    border: none;
    border-radius: 2rem;
}
.option:hover,
.play-again:hover {
    background-color: var(--hover-btn-color);
}
.option img {
    width: 100%;
}

.play-again {
    padding: .5rem 1rem;

    font-size: 2rem;
    color: var(--font-color);
    display: none;
}

/* section */

section {
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: var(--main-padding);
    position: absolute;
    top: var(--header-height);

    background-color: var(--section-bg-color);
    display: none;
}

.close-btn {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 5rem;
    right: 3rem;

    background-color: var(--btn-color);
    border: none;
    border-radius: 50%;
}
.close-btn:hover {
    background-color: var(--hover-btn-color);
}
.close-btn span {
    width: 2rem;
    height: .5rem;
    position: absolute;
    top: 45%;
    left: 50%;

    background-color: var(--font-color);
    display: inline-block;
}
.close-btn span:first-of-type {
    transform: rotate(45deg) translate(-50% , 50%);
    
}
.close-btn span:last-of-type {
    transform: rotate(-45deg) translate(-50% , -50%);
}

.round-history {
    padding: 2rem 0;
    font-size: 2rem;
    border-bottom: 1px solid var(--font-color);
}